<!-- First navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark first-navbar">
    <a class="navbar-brand" href="#">anclist / web development</a>
    <a class="nav-item" href="#">(647) 471-3759</a>
  </nav>
<!-- End of First navbar -->

<!-- Second navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark second-navbar">
      <a class="navbar-brand" href="#">
        <%= image_tag "anclist_logo.png", alt: "antonio manzanares web development logo", class: "nav-logo" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#tech-stack">Tech Stack</a>
          <a class="nav-item nav-link" href="#">Projects</a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Contact</a>

        </div>
      </div>
    </nav>
<!-- End of Second navbar -->

<!-- Main Jumbotron -->
  <div class="jumbotron jumbotron-fluid first-jumbotron">
    <div class="container">
      <h1 class="display-4">Antonio Manzanares</h1>
      <p class="lead">Web Developer</p>
    </div>
  </div>
<!-- End of Main Jumbotron -->

<!-- Tech Stack Cards -->
<div class="container tech-stack">
  <div class="card-deck" id="tech-stack">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nisi, lacinia id augue sed, feugiat elementum ipsum. Quisque interdum sit amet lorem fringilla ornare. Donec velit nulla, volutpat in metus non, dictum pellentesque eros. Sed fermentum mauris ligula, eget malesuada ante tempus ut. Nunc in eros porttitor, mollis dolor eget, feugiat nisi.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<!-- End of Tech Stack Cards -->

<!-- Footer -->
  <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Copyright @anclist</a>
  </footer>
<!-- End of Footer -->
