/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // GOOGLE FONTS
 $font-family-base: 'Inconsolata', monospace;
 $headings-font-family: 'Inconsolata', monospace;
 @import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
 @import "font-awesome-sprockets";
 @import "font-awesome";
 // VARIABLES
 $dark: rgb(52, 58, 64);
 $btn-border-radius: 0px;
 $btn-border-width: 1px;
 $primary: rgb(67, 69, 113);
 $secondary: rgb(115, 41, 47);
 $success: rgb(25, 114, 46);
 $danger: rgb(255,86,86);
 $info: rgb(217, 103, 4);
 $warning: rgb(243, 201, 73);
 $light: rgb(217, 219, 219);
 $white: rgb(255,255,255);
 $table-dark-bg: rgb(66, 66, 66);
 $pagination-border-width: 2px;
 $badge-border-radius: 15px;
 $progress-border-radius: 0px;
 $jumbotron-bg: rgb(233, 236, 239);
 $card-border-radius: 0px;
 $tooltip-border-radius: 7px;
 $popover-border-width: 1px;
 $popover-border-radius: 0px;
 $input-border-radius: 1px;
 $dropdown-border-radius: 1px;
 $thumbnail-border-radius: 1px;
 $nav-pills-border-radius: 0px;
 $nav-tabs-border-radius: 1px;
 $navbar-toggler-border-radius: 3px;
 $link-color: $white;
 $navbar-dark-color: $white;

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import 'rails_bootstrap_forms';


 @-ms-viewport{
  width: device-width;
}

html {
  height: 100vh;
}

.section {
  height: 100vh;
  overflow: scroll;
}

// Boostrap and Tech stack icons responsice fonts
html {
  font-size: 0.9rem;
}

//
.tech-stack-icon {
  font-size: 4rem;
  margin-bottom: 8px;
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
  .tech-stack-icon {
    font-size: 5rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
  .tech-stack-icon {
    font-size: 6rem;
  }

}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
  .tech-stack-icon {
    font-size: 7rem;
  }

}

// End of Boostrap and Tech stack icons responsice fonts

// Modals with no border radius

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

// End of Modals with no border radius

.first-navbar {
  position: fixed;
  background: $danger;
  top: calc(100vh / 2);
  left: -100px;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: all 300ms linear;
}

.show-side-bar {
  left: -10px;
}


// Second navbar cahnges opacity and font color when scrolling
.second-navbar {
   background: $primary;
   transition: background-color 1s linear;
   width: 100%;
   z-index: 1000;
   position: fixed;
   top: 0;

}

.navbar-fade {
  background: transparentize($primary, 0.5);
}
// End of Second navbar cahnges opacity and font color when scrolling



// Customizing brand logo
 .nav-logo {
   margin: 0;
   width: 40%;
   height: 40%;
 }
 .second-navbar > a.navbar-brand {
   margin: 0;
   padding: 0;
 }
 // End of Customizing brand logo




// First Jumbotron with background image
 .first-jumbotron {
   // backgorund image
   background-image: image-url("first-background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
   // center text in jumbotron
   color: $white;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 5px;
 }

 // End of First Jumbotron with background image


// Social Icons style
 .social-icon {
   font-size: 1.5rem;
   margin: 2px;
 }

 #close-social-icons {
   font-size: 1rem;
   color: $white;
   margin-bottom: 8px;
 }
 // End of Social Icons style


// Card deck display grid
 .tech-stack{
   padding: 20px;
   text-align: center;
 }

 .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    align-content: space-between;
    // grid-gap: .5rem;
 }

 .card-deck > .card {
   margin: 0;
   border: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
//  End of Card deck display


// About Jumbotron styling

.about-jumbotron {
  margin: 0;
  z-index: 999;
}

.about-grid-container {
  display: grid;
}
.tony-thumb {
  max-width: 100%;
  border-radius: 50%;
}
// End of About Jumbotron styling
