/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

// First Jumbotron with no margin and background image
 .first-jumbotron {
   // backgorund image
   background-image: url("first-background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   // temporary
   height: 500px;
   overflow: auto;
   // center text in jumbotron
   color: $white;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 // End of First Jumbotron with no margin and background image


// Disapear effect for navbar when scrolling
 .first-navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}
// End of Disapear effect for navbar when scrolling


// Second navbar sticks to top when scrolling
 .second-navbar {
   position: sticky;
   top: 0;
 }
 // End of Second navbar sticks to top when scrolling

 // Second navbar cahnges opacity and font color when scrolling
 .second-navbar {
    background: $primary;
    -webkit-transition: background-color 500ms linear;
    -webkit-transition: color 500ms linear;

}

 .navbar-fade{
   background: transparentize($primary, 0.5);
 }
 // End of Second navbar cahnges opacity and font color when scrolling

// Card deck display
 .tech-stack{
   margin-bottom: 10px;
 }

 .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
}
//  End of Card deck display
