<!-- First navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark first-navbar" id="fisrt-navbar">
    <div class="">
      <a class="navbar-brand" href="#home-jumbotron">anclist / web developer</a>
      <a class="nav-item" href="tel:+16474713759">(647) 471-3759</a>
    </div>
    <div class="">
      <a class="nav-item" href="https://www.linkedin.com/in/anclist/" target="_blank" rel="nofollow" data-confirm="You are visting and external site, are you sure you want to continue?" title="linkedin: anclist"><i class="fab fa-linkedin social-icon"></i></a>
      <a class="nav-item" href="https://github.com/anclist" target="_blank" rel="nofollow" data-confirm="You are visting and external site, are you sure you want to continue?" title="github: anclist"><i class="fab fa-github-square social-icon"></i></a>
      <a class="nav-item" href="https://www.instagram.com/anclist/" target="_blank" rel="nofollow" data-confirm="You are visting and external site, are you sure you want to continue?" title="instagram: anclist"><i class="fab fa-instagram social-icon"></i></a>
      <a class="nav-item" href="https://twitter.com/anclist" target="_blank" rel="nofollow" data-confirm="You are visting and external site, are you sure you want to continue?" title="twitter: anclist"><i class="fab fa-twitter-square social-icon"></i></a>
      <a class="nav-item" href="mailto:anclist@gmail.com" target="_blank" rel="nofollow" data-confirm="You are visting and external site, are you sure you want to continue?" title="mail: anclist@gmail.com"><i class="fas fa-envelope-square social-icon"></i></a>
    </div>
  </nav>
<!-- End of First navbar -->
