<!-- First navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark first-navbar" id="fisrt-navbar">
      <a class="nav-item" href="https://www.linkedin.com/in/anclist/" target="_blank" rel="noreferrer" title="linkedin: anclist"><i class="fab fa-linkedin social-icon"></i></a>
      <a class="nav-item" href="https://github.com/anclist" target="_blank" rel="noreferrer" title="github: anclist"><i class="fab fa-github-square social-icon"></i></a>
      <a class="nav-item" href="https://www.instagram.com/anclist/" target="_blank" rel="noreferrer" title="instagram: anclist"><i class="fab fa-instagram social-icon"></i></a>
      <a class="nav-item" href="https://twitter.com/anclist" target="_blank" rel="noreferrer" title="twitter: anclist"><i class="fab fa-twitter-square social-icon"></i></a>
      <a class="nav-item" href="tel:+16474713759"  target="_blank" rel="noreferrer" title="phone number 6474713759"><i class="fas fa-phone-square social-icon"></i></a>
      <a class="nav-item" href="mailto:anclist@gmail.com" target="_blank" rel="noreferrer" title="mail: anclist@gmail.com"><i class="fas fa-envelope-square social-icon"></i></a>
  </nav>
<!-- End of First navbar -->
