<!-- Second navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark second-navbar" id="second-navbar">
      <a class="navbar-brand" href="#home" id="logo-link">
        <%= image_tag "anclist_logo.png", alt: "antonio manzanares web development logo", class: "nav-logo" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#home" id="home-link">Home</a>
          <a class="nav-item nav-link" href="#tech-stack" id="tech-link">Tech Stack</a>
          <a class="nav-item nav-link" href="#projects" id="projects-link">Projects</a>
          <a class="nav-item nav-link" href="#about" id="about-link">About</a>
<!-- Button trigger modal -->
          <a class="nav-item nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
<!-- End of Button trigger modal -->
        </div>
        <div class="navbar-nav ml-auto">
          <p class=" nav-item nav-link" id="social-toggle">Let's get social <i class="fas fa-comment-alt"></i></p>
        </div>
      </div>
    </nav>
<!-- End of Second navbar -->

<!-- Contact Modal -->
        <%= render 'contacts/form', contact: @contact %>
<!-- End of Contact Modal -->
